

@font-face {
  font-family: 'Karen';
  src: url('../myicons/icons.eot');
  src: url('../myicons/icons.eot?#iefix') format('embedded-opentype'),
       url('../myicons/icons.woff2') format('woff2'),
       url('../myicons/icons.woff') format('woff'),
       url('../myicons/icons.ttf') format('truetype'),
       url('../myicons/icons.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}




.fa {
    display: inline-block;
    font: normal normal normal 14px/1 'Karen';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


  .fa-lg {
      font-size: 1.33333333em;
      line-height: 0.75em;
      vertical-align: -15%;
  }

  .fa-2x {
      font-size: 2em;
  }

  .fa-3x {
      font-size: 3em;
  }

  .fa-4x {
      font-size: 4em;
  }

  .fa-5x {
      font-size: 5em;
  }



  .fa-fw {
      width: 1.28571429em;
      text-align: center;
  }



  .fa-ul {
      padding-left: 0;
      margin-left: 2.14285714em;
      list-style-type: none;
  }

  .fa-ul> li {
      position: relative;
  }

  .fa-li {
      position: absolute;
      left: -2.14285714em;
      width: 2.14285714em;
      top: 0.14285714em;
      text-align: center;
  }

  .fa-li.fa-lg {
      left: -1.85714286em;
  }



  .fa-border {
      padding: .2em .25em .15em;
      border: solid 0.08em #eeeeee;
      border-radius: .1em;
  }

  .pull-right {
      float: right;
  }

  .pull-left {
      float: left;
  }

  .fa.pull-left {
      margin-right: .3em;
  }

  .fa.pull-right {
      margin-left: .3em;
  }



  .fa-spin {
      -webkit-animation: fa-spin 2s infinite linear;
      animation: fa-spin 2s infinite linear;
  }

  .fa-pulse {
      -webkit-animation: fa-spin 1s infinite steps(8);
      animation: fa-spin 1s infinite steps(8);
  }

  @-webkit-keyframes fa-spin {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
      }
  }

  @keyframes fa-spin {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
      }
  }



  .fa-rotate-90 {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=1)";
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
  }

  .fa-rotate-180 {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=2)";
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
  }

  .fa-rotate-270 {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=3)";
      -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
  }

  .fa-flip-horizontal {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
      -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1);
  }

  .fa-flip-vertical {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
      -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
      transform: scale(1, -1);
  }

  :root .fa-rotate-90,
  :root .fa-rotate-180,
  :root .fa-rotate-270,
  :root .fa-flip-horizontal,
  :root .fa-flip-vertical {
      filter: none;
  }



  .fa-stack {
      position: relative;
      display: inline-block;
      width: 2em;
      height: 2em;
      line-height: 2em;
      vertical-align: middle;
  }

  .fa-stack-1x,
  .fa-stack-2x {
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center;
  }

  .fa-stack-1x {
      line-height: inherit;
  }

  .fa-stack-2x {
      font-size: 2em;
  }

  .fa-inverse {
      color: #ffffff;
  }



  .fa-search:before {
      content: '\f000';
  }

  .fa-star:before {
      content: '\f001';
  }

  .fa-user:before {
      content: '\f002';
  }

  .fa-check:before {
      content: '\f003';
  }

  .fa-times:before {
      content: '\f004';
  }

  .fa-home:before {
      content: '\f005';
  }

  .fa-comment:before {
      content: '\f006';
  }

  .fa-chevron-up:before {
      content: '\f007';
  }

  .fa-phone:before {
      content: '\f008';
  }

  .fa-twitter:before {
      content: '\f009';
  }

  .fa-bars:before {
      content: '\f00a';
  }

  .fa-google-plus:before {
      content: '\f00b';
  }

  .fa-envelope:before {
      content: '\f00c';
  }

  .fa-linkedin:before {
      content: '\f00d';
  }

  .fa-facebook-official:before {
      content: '\f00e';
  }

  .fa-ban:before {
      content: '\f00f';
  }

  .fa-circle-arrow-right:before {
      content: '\f010';
  }

  .fa-circle-arrow-down:before {
      content: '\f011';
  }

  .fa-geyes:before {
      content: '\f013';
  }

  .fa-facebook-square:before {
      content: '\f014';
  }

  .fa-social-facebook:before {
      content: '\f015';
  }

  .fa-facebook-box:before {
      content: '\f016';
  }

  .fa-social-facebook-circular:before {
      content: '\f017';
  }

  .fa-social-facebook-typcn:before {
      content: '\f018';
  }

  .fa-facebook:before {
      content: '\f019';
  }

  .fa-facebook-fa:before {
      content: '\f01a';
  }

  .fa-facebook-messenger:before {
      content: '\f01b';
  }

  .fa-shopping-basket:before {
      content: '\f01c';
  }

  .fa-shopping-cart:before {
      content: '\f01d';
  }

  .fa-shopping-cart-glyphicon:before {
      content: '\f01e';
  }

  .fa-shopping-cart-typcn:before {
      content: '\f01f';
  }

  .fa-social-instagram:before {
      content: '\f020';
  }

  .fa-crown:before {
      content: '\f021';
  }

  .fa-shop:before {
      content: '\f022';
  }

  .fa-web:before {
      content: '\f023';
  }

  .fa-group:before {
      content: '\f024';
  }

  .fa-paper-cut-vertical:before {
      content: '\f025';
  }

  .fa-food-variant:before {
      content: '\f026';
  }

  .fa-food:before {
      content: '\f027';
  }

  .fa-food-mdc:before {
      content: '\f028';
  }

  .fa-fire:before {
      content: '\f029';
  }

  .fa-download:before {
      content: '\f02a';
  }

  .fa-picture:before {
      content: '\f02b';
  }

  .fa-guitar-pick:before {
      content: '\f02c';
  }

  .fa-newspaper-o:before {
      content: '\f02d';
  }

  .fa-user-male:before {
      content: '\f02e';
  }

  .fa-unbou:before {
      content: '\f02f';
  }

  .fa-moneyhat:before {
      content: '\f030';
  }

  .fa-circle-arrow-left:before {
      content: '\f033';
  }

  .fa-angle-left:before {
      content: '\f034';
  }

  .fa-angle-right:before {
      content: '\f035';
  }

  .fa-angle-down:before {
      content: '\f036';
  }

  .fa-arrow-up:before {
      content: '\f037';
  }

  .fa-angle-up:before {
      content: '\f038';
  }

  .fa-caret-left:before {
      content: '\f039';
  }

  .fa-caret-right:before {
      content: '\f03a';
  }

  .fa-bell:before {
      content: '\f03b';
  }

  .fa-bullhorn:before {
      content: '\f03c';
  }

  .fa-volume-off:before {
      content: '\f03d';
  }

  .fa-search-btb:before {
      content: '\f03f';
  }

  .fa-thumbs-up:before {
      content: '\f040';
  }

  .fa-arrow-circle-o-up:before {
      content: '\f041';
  }

  .fa-dots-three-horizontal:before {
      content: '\f042';
  }

  .fa-envelope-o:before {
      content: '\f044';
  }

  .fa-plus-square:before {
      content: '\f045';
  }

  .fa-checkbox-intermediate:before {
      content: '\f046';
  }

  .fa-squared-minus:before {
      content: '\f047';
  }

  .fa-squared-plus:before {
      content: '\f048';
  }

  .fa-plus:before {
      content: '\f049';
  }

  .fa-minus:before {
      content: '\f04a';
  }

  .fa-plus-btm:before {
      content: '\f04b';
  }

  .fa-minus-btm:before {
      content: '\f04c';
  }

  .fa-chevron-with-circle-down:before {
      content: '\f04d';
  }

  .fa-chevron-with-circle-up:before {
      content: '\f04e';
  }

  .fa-chevron-with-circle-left:before {
      content: '\f04f';
  }

  .fa-chevron-with-circle-right:before {
      content: '\f050';
  }

  .fa-calculator:before {
      content: '\f051';
  }

  .fa-calculator-entypo:before {
      content: '\f052';
  }

  .fa-calculator-typcn:before {
      content: '\f053';
  }

  .fa-checkbox-unchecked:before {
      content: '\f054';
  }

  .fa-radio-unchecked:before {
      content: '\f055';
  }

  .fa-star-bts:before {
      content: '\f056';
  }

  .fa-spinner:before {
      content: '\f057';
  }

  .fa-caret-right-bts:before {
      content: '\f058';
  }

  .fa-caret-left-bts:before {
      content: '\f059';
  }

  .fa-caret-down:before {
      content: '\f05a';
  }

  .fa-caret-up:before {
      content: '\f05b';
  }

  .fa-light-bulb:before {
      content: '\f05c';
  }

  .fa-controller-stop:before {
      content: '\f05d';
  }

  .fa-controller-record:before {
      content: '\f05e';
  }

  .fa-triangle-up:before {
      content: '\f05f';
  }

  .fa-triangle-right:before {
      content: '\f060';
  }

  .fa-triangle-left:before {
      content: '\f061';
  }

  .fa-triangle-down:before {
      content: '\f062';
  }

  .fa-trash:before {
      content: '\f063';
  }

  .fa-trash-fa:before {
      content: '\f064';
  }

  .fa-bookmark:before {
      content: '\f065';
  }

  .fa-fish:before {
      content: '\f066';
  }

  .fa-xbox-controller:before {
      content: '\f067';
  }

  .fa-xbox:before {
      content: '\f068';
  }

  .fa-chevron-down:before {
      content: '\f069';
  }

  .fa-chevron-left:before {
      content: '\f06a';
  }

  .fa-chevron-right:before {
      content: '\f06b';
  }

  .fa-chevron-up-octicon:before {
      content: '\f06c';
  }

  .fa-chevron-right-typcn:before {
      content: '\f06d';
  }

  .fa-chevron-left-typcn:before {
      content: '\f06e';
  }

  .fa-arrow-sorted-up:before {
      content: '\f06f';
  }

  .fa-arrow-sorted-down:before {
      content: '\f070';
  }

  .fa-smog:before {
      content: '\f071';
  }

  .fa-clock:before {
      content: '\f072';
  }

  .fa-clock-mdc:before {
      content: '\f073';
  }

  .fa-marker:before {
      content: '\f074';
  }

  .fa-map-marker:before {
      content: '\f075';
  }

  .fa-map-marker-glyphicon:before {
      content: '\f076';
  }

  .fa-map-marker-radius:before {
      content: '\f077';
  }

  .fa-map-marker-mdc:before {
      content: '\f078';
  }

  .fa-line:before {
      content: '\f079';
  }

  .fa-phone-glyphicon:before {
      content: '\f07a';
  }

  .fa-phone-iphone:before {
      content: '\f07b';
  }

  .fa-phone-android:before {
      content: '\f07c';
  }

  .fa-cellphone-iphone:before {
      content: '\f07d';
  }

  .fa-fax:before {
      content: '\f07e';
  }

  .fa-fax-btm:before {
      content: '\f07f';
  }

  .fa-bank:before {
      content: '\f080';
  }

  .fa-banknote:before {
      content: '\f081';
  }

  .fa-search-plus:before {
      content: '\f082';
  }

  .fa-search-minus:before {
      content: '\f083';
  }

  .fa-resize-small:before {
      content: '\f084';
  }

  .fa-forward:before {
      content: '\f085';
  }

  .fa-backward:before {
      content: '\f086';
  }

  .fa-arrows-out:before {
      content: '\f087';
  }

  .fa-cog-outline:before {
      content: '\f088';
  }

  .fa-water:before {
      content: '\f089';
  }

  .fa-line-circle:before {
      content: '\f08a';
  }

  .fa-times-btb:before {
      content: '\f08b';
  }

  .fa-label:before {
      content: '\f08c';
  }

  .fa-times-btm:before {
      content: '\f08d';
  }

  .fa-times-circle:before {
      content: '\f08e';
  }

  .fa-clock-btm:before {
      content: '\f08f';
  }

  .fa-angle-up-bts:before {
      content: '\f090';
  }

  .fa-angle-down-bts:before {
      content: '\f091';
  }

  .fa-angle-left-bts:before {
      content: '\f092';
  }

  .fa-angle-right-bts:before {
      content: '\f093';
  }

  .fa-arrow-down:before {
      content: '\f094';
  }

  .fa-arrow-left:before {
      content: '\f095';
  }

  .fa-arrow-right:before {
      content: '\f096';
  }

  .fa-plus-bts:before {
      content: '\f097';
  }

  .fa-chevron-small-down:before {
      content: '\f098';
  }

  .fa-chevron-small-left:before {
      content: '\f099';
  }

  .fa-chevron-small-right:before {
      content: '\f09a';
  }

  .fa-chevron-small-up:before {
      content: '\f09b';
  }

  .fa-chevron-right-entypo:before {
      content: '\f09c';
  }

  .fa-chevron-left-entypo:before {
      content: '\f09d';
  }

  .fa-chevron-down-entypo:before {
      content: '\f09e';
  }

  .fa-chevron-up-entypo:before {
      content: '\f09f';
  }

  .fa-chevron-thin-down:before {
      content: '\f0a0';
  }

  .fa-chevron-thin-left:before {
      content: '\f0a1';
  }

  .fa-chevron-thin-right:before {
      content: '\f0a2';
  }

  .fa-chevron-thin-up:before {
      content: '\f0a3';
  }

  .fa-cross:before {
      content: '\f0a4';
  }

  .fa-power-off:before {
      content: '\f0a5';
  }

  .fa-clock-o:before {
      content: '\f0a6';
  }

  .fa-arrow-circle-left:before {
      content: '\f0a7';
  }

  .fa-arrow-circle-right:before {
      content: '\f0a8';
  }

  .fa-arrow-circle-up:before {
      content: '\f0a9';
  }

  .fa-arrow-circle-down:before {
      content: '\f0aa';
  }

  .fa-caret-left-fa:before {
      content: '\f0ab';
  }

  .fa-caret-right-fa:before {
      content: '\f0ac';
  }

  .fa-caret-down-fa:before {
      content: '\f0ad';
  }

  .fa-caret-up-fa:before {
      content: '\f0ae';
  }

  .fa-angle-down-fa:before {
      content: '\f0af';
  }

  .fa-angle-up-fa:before {
      content: '\f0b0';
  }

  .fa-angle-right-fa:before {
      content: '\f0b1';
  }

  .fa-angle-left-fa:before {
      content: '\f0b2';
  }

  .fa-commenting-o:before {
      content: '\f0b3';
  }

  .fa-commenting:before {
      content: '\f0b4';
  }

  .fa-battery-half:before {
      content: '\f0b5';
  }

  .fa-battery-full:before {
      content: '\f0b6';
  }

  .fa-battery-empty:before {
      content: '\f0b7';
  }

  .fa-x:before {
      content: '\f0b8';
  }

  .fa-close:before {
      content: '\f0b9';
  }

  .fa-close-box:before {
      content: '\f0ba';
  }

  .fa-close-box-outline:before {
      content: '\f0bb';
  }

  .fa-close-circle:before {
      content: '\f0bc';
  }

  .fa-close-circle-outline:before {
      content: '\f0bd';
  }

  .fa-chevron-up-mdc:before {
      content: '\f0be';
  }

  .fa-chevron-right-mdc:before {
      content: '\f0bf';
  }

  .fa-chevron-left-mdc:before {
      content: '\f0c0';
  }

  .fa-chevron-down-mdc:before {
      content: '\f0c1';
  }

  .fa-email:before {
      content: '\f0c2';
  }

  .fa-email-open:before {
      content: '\f0c3';
  }

  .fa-email-outline:before {
      content: '\f0c4';
  }

  .fa-minus-box:before {
      content: '\f0c5';
  }

  .fa-minus-circle:before {
      content: '\f0c6';
  }

  .fa-minus-circle-outline:before {
      content: '\f0c7';
  }

  .fa-minus-mdc:before {
      content: '\f0c8';
  }

  .fa-laptop-chromebook:before {
      content: '\f0c9';
  }

  .fa-laptop-windows:before {
      content: '\f0ca';
  }

  .fa-keyboard-arrow-right:before {
      content: '\f0cb';
  }

  .fa-pin-outline:before {
      content: '\f0cc';
  }

  .fa-pin:before {
      content: '\f0cd';
  }

  .fa-clear:before {
      content: '\f0ce';
  }

  .fa-check-box:before {
      content: '\f0cf';
  }

  .fa-chevron-left-mdi:before {
      content: '\f0d0';
  }

  .fa-chevron-right-mdi:before {
      content: '\f0d1';
  }

  .fa-location-on:before {
      content: '\f0d2';
  }

  .fa-keyboard-arrow-up:before {
      content: '\f0d3';
  }

  .fa-keyboard-arrow-left:before {
      content: '\f0d4';
  }

  .fa-keyboard-arrow-down:before {
      content: '\f0d5';
  }

  .fa-calendar-clock:before {
      content: '\f0d6';
  }

  .fa-calendar:before {
      content: '\f0d7';
  }

  .fa-calendar-typcn:before {
      content: '\f0d8';
  }

  .fa-calendar-fi:before {
      content: '\f0d9';
  }

  .fa-calendar-bts:before {
      content: '\f0da';
  }

  .fa-new-releases:before {
      content: '\f0db';
  }

  .fa-burst-new:before {
      content: '\f0dc';
  }

  .fa-movie:before {
      content: '\f0dd';
  }

  .fa-local-movies:before {
      content: '\f0de';
  }

  .fa-video:before {
      content: '\f0df';
  }

  .fa-video-oi:before {
      content: '\f0e0';
  }

  .fa-video-typcn:before {
      content: '\f0e1';
  }

  .fa-video-camera:before {
      content: '\f0e2';
  }

  .fa-modern-mic:before {
      content: '\f0e3';
  }

  .fa-heart:before {
      content: '\f0e4';
  }

  .fa-heart-fi:before {
      content: '\f0e5';
  }

  .fa-heart-outline:before {
      content: '\f0e6';
  }

  .fa-heart-li:before {
      content: '\f0e7';
  }

  .fa-wedding-heart:before {
      content: '\f0e8';
  }

  .fa-bing-bing:before {
      content: '\f0e9';
  }

  .fa-isg-logo:before {
      content: '\f0ea';
  }

  .fa-i-do:before {
      content: '\f0eb';
  }

  .fa-box:before {
      content: '\f0ec';
  }

  .fa-box2:before {
      content: '\f0ed';
  }

  .fa-slideshare:before {
      content: '\f0ee';
  }

  .fa-pencil-square-o:before {
      content: '\f0ef';
  }

  .fa-plus-circle:before {
      content: '\f0f0';
  }

  .fa-search-plus-btm:before {
      content: '\f0f1';
  }

  .fa-search-btm:before {
      content: '\f0f2';
  }

  .fa-plus-circle-btm:before {
      content: '\f0f3';
  }

  .fa-plus-circle-bts:before {
      content: '\f0f4';
  }

  .fa-forward-entypo:before {
      content: '\f0f5';
  }

  .fa-link-variant:before {
      content: '\f0f6';
  }

  .fa-link:before {
      content: '\f0f7';
  }

  .fa-link-typcn:before {
      content: '\f0f8';
  }

  .fa-lightbulb-outline:before {
      content: '\f0f9';
  }

  .fa-lightbulb:before {
      content: '\f0fa';
  }

  .fa-link-glyphicon:before {
      content: '\f0fb';
  }

  .fa-location-searching:before {
      content: '\f0fc';
  }


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}
